.footer {
  background-color: black;
}

.footer li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer-icon {
  border: 2px solid white;
  padding: 10px 15px;
  width: 50px;
}

.footer-icon:hover {
  cursor: pointer;
}
