.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.landing-img {
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.popup-row,
.home-hr {
  display: inline-block;
  width: 32%;
  border-color: black;
}

.home-hr {
  margin-top: 25px;
  border-width: 3px;
}

.nav-menu-pic {
  width: 100%;
  height: 78vh;
}

.full-display {
  width: 100vw;
  height: 100vh;
}

.modal-open {
  overflow: hidden;
  overflow-y: scroll;
  padding-right: 0 !important;
}

.b-right-black {
  border-right: 3px solid black;
}

.text-box:focus {
  border-color: black !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.2rem black !important;
}

.add-spacing {
  letter-spacing: 4px;
}

.foodux-btn {
  background-color: black !important;
  color: #f8f9fa !important;
}

.foodux-btn:hover {
  background-color: #404241 !important;
}

.foodux-link {
  color: black;
  cursor: pointer;
}

.foodux-link:hover {
  text-decoration: underline !important;
  color: #262626 !important;
}

.right-box {
  background-color: white;
  border-radius: 10px;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
