.active-side {
  color: white !important;
  background-color: black !important;
  border-color: gray !important;
}

.fixed {
  width: 255px;
  position: fixed;
}

.create-post-body {
  width: 100%;
  height: 10vh;
  padding: 5px 10px;
  border: 1px solid silver;
  background-color: white;
  border-radius: 10px;
  resize: none;
}

.post-img {
  width: 150px;
  height: 100px;
}

.expand,
.dec {
  outline: none;
  box-sizing: content-box;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 50%;
  width: 12px;
  height: 10px;
  color: transparent;
  cursor: pointer;
  transition: all 0.5s;
}

.expand:focus {
  width: 12vw;
  background-color: #fff;
  border-color: black;
  padding-left: 32px;
  cursor: auto;
  color: #404241;
  border-radius: 15px;
}

.expand:hover,
.dec:hover {
  background-color: white;
}

.location-icon {
  background: #ededed url("../icons/pin.png") no-repeat 9px center;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.dollar-icon {
  background: #ededed url("../icons/dollar.png") no-repeat 9px center;
}

.restaurant-icon {
  background: #ededed url("../icons/shop.png") no-repeat 9px center;
}

.marker-icon {
  background: #ededed url("../icons/marker.png") no-repeat 9px center;
}

.eat-icon {
  background: #ededed url("../icons/eat.png") no-repeat 9px center;
}

.food-cross-icon {
  background: #ededed url("../icons/food-cross.png") no-repeat 9px center;
}

.mouth-icon {
  background: #ededed url("../icons/mouth.png") no-repeat 9px center;
}

.lobby-icon {
  background: #ededed url("../icons/lobby.png") no-repeat 9px center;
}

.ambience-icon {
  background: #ededed url("../icons/ambience.png") no-repeat 9px center;
}

.review-icon {
  background: #ededed url("../icons/review.png") no-repeat 9px center;
}

.star-icon {
  background: #ededed url("../icons/star.png") no-repeat 9px center;
}

.search-icon {
  background: #ededed url("../icons/search.png") no-repeat 9px center;
  width: 20vw;
  background-color: #fff;
  border: 2px solid white;
  padding-left: 32px;
  cursor: auto;
  color: black;
  padding-top: 3px;
  padding-bottom: 3px;
}

.search-icon:focus {
  outline: none;
  border: 2px solid black;
}

.plus-icon {
  background: #ededed url("../icons/plus.png") no-repeat 9px center;
}

.hand-icon {
  background: #ededed url("../icons/hand.png") no-repeat 9px center;
}

.close-icon {
  background: #ededed url("../icons/close.png") no-repeat 9px center;
}

.tick-icon {
  background: #ededed url("../icons/tick.png") no-repeat 9px center;
}

.img-icon {
  background: #ededed url("../icons/img.png") no-repeat 9px center;
}

.up-icon {
  background: #ededed url("../icons/up.png") no-repeat 9px center;
}

.bin-icon {
  background: #ededed url("../icons/bin.png") no-repeat 9px center;
}
