input:disabled {
  cursor: not-allowed;
}

.label-1 {
  color: black;
  font-weight: bold;
  font-size: 18px;
}

.label-2 {
  font-size: 14px;
}

.w-10 {
  width: 10% !important;
}

.profile-pic-setts {
  width: 50%;
  height: 50vh;
  display: block;
  margin-bottom: 25px;
}

.w-15 {
  width: 15%;
}
